{%extends 'base.html'%}
{%block title%}
    Third Section
{%endblock%}


{%block content%}
<div class="thirdheader">
    <div class="logo">
        <h3>LOGO</h3>
        <p>Company's <br> Name</p>
    </div>
    <div class="navbar">
        <div class="navigation">
            <a href="">Home</a>
            <a href="">Releases </a>
            <a href="">Recommendations</a>
            <a href="">Kid's Corner</a>
            <a href="">Self Help</a>
            <a href="">Biographies</a>
            <a href="">Curriculum</a>
            <a href="">More..</a>
            <a href=""><i class="fa fa-search" aria-hidden="true"></i> </a>
            <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>

        </div>
        
    </div>
</div>
  
{%endblock%}