{%extends 'base.html'%}

{%block title%}
    Second Section
{%endblock%}

{%block content%}
<div class="begin">
    <div class="logo">
        <h3>LOGO</h3>
        <p>Company's <br> Name</p>
    </div>
    <div class="middle">
        <div class="searchbar">
            <input type="search">
            <i class="fa fa-search" aria-hidden="true"></i> 
            

        </div>
        <div class="navbar">
                <a href="">Recommendations</a>
                <a href="">Curriculum</a>
                <a href="">Accessories</a>
                <a href="">Self Help</a>
                <a href="">Biography</a>
                <a href="">Classics</a>
                <a href="">Journals</a>
                <a href="">Fiction</a>
                <a href="">More..</a>
        </div>
        </div>
        <div class="icons">
            <a href=""><i class="fa fa-bell" aria-hidden="true"></i></a>
            <a href=""><i class="fas fa-heart"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            <a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
        </div>
    
    
</div>

{%endblock%}
